/.project
*~
*.acn
*.acr
*.alg
*.aux
*.blg
*.dvi
/*.ent
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.toc
*.synctex.gz
*.tex.bak
/.DS_Store
/_minted-*/
/Diagrams- Proto1_Proto2_Proto3.pdf
/background.pdf
/conclusion.pdf
/embedding.pdf
/futureScope.pdf
/gr300formattingguidelinesfordissertationsthesesprojectspracticumreportsrevisedaug2015.pdf
/hwh.pdf
/introduction.pdf
/metasyntacticvariables.pdf
/miscrelcon.pdf
/multiparadigm.pdf
/prologin.pdf
/prologinhaskell.pdf
/proposal.pdf
/proposal30J2014an.pdf
/proposedWork.pdf
/proto1.pdf
/proto1.pdf
/proto2.1.pdf
/proto2.2.pdf
/proto3.pdf
/proto4.pdf
/pwp.pdf
/quasiquotation.pdf
/relatedWork.pdf
/relatedtermskeywords.pdf
/results.pdf
/thesis-solanki (Mehul’s MacBook Pro's conflicted copy 2015-11-02).pdf
/thesis-solanki (pg4460-102040m's conflicted copy 2015-11-06).pdf
/thesis-solanki.pdf
/thesis-solanki.pdf
/ummcpp.pdf
/workCompleted.pdf
/*.ent
/thesis-solanki.lis
