/.project
*~
*.acn
*.acr
*.alg
*.aux
*.blg
*.dvi
/*.ent
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.toc
*.synctex.gz
*.tex.bak
/.DS_Store
/_minted-*/
/*.ent
/thesis-solanki.lis
/abstract.pdf
/accomplishedWork.pdf
/background.pdf
/conclusion.pdf
/embedding.pdf
/futureScope.pdf
/gr300formattingguidelinesfordissertationsthesesprojectspracticumreportsrevisedaug2015.pdf
/hwh.pdf
/introduction.pdf
/metasyntacticvariables.pdf
/miscrelcon.pdf
/multiparadigm.pdf
/proposal.pdf
/proposedWork.pdf
/proto1.pdf
/proto1.pdf
/proto2.1.pdf
/proto2.2.pdf
/proto3.pdf
/proto4.pdf
/pwp.pdf
/quasiquotation.pdf
/relatedWork.pdf
/results.pdf
/thesis-solanki.pdf
/workCompleted.pdf
