/.project
*~
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.tex.bak
/.DS_Store
/_minted-*/
/thesis-solanki.pdf
/proto1.pdf
/*.ent
/thesis-solanki.lis
